.App {
  /* background-color: #282c34; */
}

h1 {
  /* color: #282c34; */
  margin-top: 0px;
}

.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.chart-container {
  width: 100%;
  aspect-ratio: 2/1;
}
